@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  @font-face {
    font-family: 'circular-web';
    src: url('/fonts/circularweb-book.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'general';
    src: url('/fonts/general.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'robert-medium';
    src: url('/fonts/robert-medium.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'robert-regular';
    src: url('/fonts/robert-regular.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'zentry-regular';
    src: url('/fonts/zentry-regular.woff2') format('woff2');
    font-display: swap;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #010101;
  --color-secondary: #4fb7dd;
  --color-tertiary: #5724ff;

  --color-bright-primary: #8e983f;
  --color-bright-secondary: #edff66;

  --font-inter: var(--font-inter);
  
  --font-sans: 'general', system-ui, sans-serif;
  --font-circular-web: 'circular-web', sans-serif;
  --font-robert-regular: 'robert-regular', sans-serif;
  --font-robert-medium: 'robert-medium', sans-serif;
  --font-zentry: 'zentry-regular', sans-serif;
  --font-mono: ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: 1.5;
}
